<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>items</key>
	<array>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>footerText</key>
			<string></string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>footerText</key>
			<string>Options for how to close folders. Tap allows you to tap anywhere, pinch to close uses pinch gesture outside of folder to close it. (Pinch requires respring to turn on/off)</string>
			<key>label</key>
			<string>Closing Folders</string>
		</dict>
		<dict>
			<key>PostNotification</key>
			<string>com.i0stweak3r.foldercontroller-prefsreload</string>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>cellClass</key>
			<string>SRSwitchTableCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>com.i0stweak3r.foldercontroller</string>
			<key>key</key>
			<string>wantsTapToClose</string>
			<key>label</key>
			<string>Tap to close</string>
		</dict>
		<dict>
			<key>PostNotification</key>
			<string>com.i0stweak3r.foldercontroller-prefsreload</string>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>cellClass</key>
			<string>SRSwitchTableCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>com.i0stweak3r.foldercontroller</string>
			<key>key</key>
			<string>wantsPinchToClose</string>
			<key>label</key>
			<string>Pinch to close</string>
		</dict>
		<dict>
			<key>PostNotification</key>
			<string>com.i0stweak3r.foldercontroller-prefsreload</string>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>cellClass</key>
			<string>SRSwitchTableCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>com.i0stweak3r.foldercontroller</string>
			<key>key</key>
			<string>wantsAutoClose</string>
			<key>label</key>
			<string>Auto-close when app opens</string>
		</dict>
		<dict>
			<key>PostNotification</key>
			<string>com.i0stweak3r.foldercontroller-prefsreload</string>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>cellClass</key>
			<string>SRSwitchTableCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>com.i0stweak3r.foldercontroller</string>
			<key>key</key>
			<string>wantsNoFolderDelete</string>
			<key>label</key>
			<string>Keep empty folders</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>footerText</key>
			<string>Enable to hide badges on the folder icons only. Inside the open folders and on regular icons they will still appear.</string>
		</dict>
		<dict>
			<key>PostNotification</key>
			<string>com.i0stweak3r.foldercontroller-prefsreload</string>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>cellClass</key>
			<string>SRSwitchTableCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>com.i0stweak3r.foldercontroller</string>
			<key>key</key>
			<string>hideIconBadges</string>
			<key>label</key>
			<string>Hide icon badges</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>footerText</key>
			<string>Enable to hide the background view of folder icons. This will hide the blur and theme images, if applied.</string>
		</dict>
		<dict>
			<key>PostNotification</key>
			<string>com.i0stweak3r.foldercontroller-prefsreload</string>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>cellClass</key>
			<string>SRSwitchTableCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>com.i0stweak3r.foldercontroller</string>
			<key>key</key>
			<string>folderIconOpacityEnabled</string>
			<key>label</key>
			<string>Clear icons/ opacity</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>footerText</key>
			<string>Custom color folder icons, and pick custom border color and thickness. Turn on Support theme images if you have a folder icon as part of your theme you want to see. The border color will work still, but leave theme image original color as icon. Also makes tweak compatible for custom icon images.</string>
			<key>label</key>
			<string>Closed folder coloring</string>
		</dict>
		<dict>
			<key>PostNotification</key>
			<string>com.i0stweak3r.foldercontroller-prefsreload</string>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>cellClass</key>
			<string>SRSwitchTableCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>com.i0stweak3r.foldercontroller</string>
			<key>key</key>
			<string>colorIcons</string>
			<key>label</key>
			<string>Color icons+border</string>
		</dict>
		<dict>
			<key>PostNotification</key>
			<string>com.i0stweak3r.foldercontroller-prefsreload</string>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>cellClass</key>
			<string>SRSwitchTableCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>com.i0stweak3r.foldercontroller</string>
			<key>key</key>
			<string>supportThemeImages</string>
			<key>label</key>
			<string>Support theme images</string>
		</dict>
		<dict>
			<key>PostNotification</key>
			<string>com.i0stweak3r.foldercontroller-prefsreload</string>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>cellClass</key>
			<string>SRSwitchTableCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>com.i0stweak3r.foldercontroller</string>
			<key>key</key>
			<string>wantsNoMiniGrid</string>
			<key>label</key>
			<string>Hide the minigrid</string>
		</dict>
		<dict>
			<key>PostNotification</key>
			<string>com.i0stweak3r.foldercontroller-prefsreload</string>
			<key>alpha</key>
			<true/>
			<key>cell</key>
			<string>PSLinkCell</string>
			<key>cellClass</key>
			<string>CSColorDisplayCell</string>
			<key>defaults</key>
			<string>com.i0stweak3r.foldercontroller</string>
			<key>fallback</key>
			<string>FF0000</string>
			<key>key</key>
			<string>iconHex</string>
			<key>label</key>
			<string>Folder icon color</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSTextCell</string>
			<key>label</key>
			<string>Custom color alpha:</string>
		</dict>
		<dict>
			<key>PostNotification</key>
			<string>com.i0stweak3r.foldercontroller-prefsreload</string>
			<key>cell</key>
			<string>PSSliderCell</string>
			<key>default</key>
			<real>0.5</real>
			<key>defaults</key>
			<string>com.i0stweak3r.foldercontroller</string>
			<key>key</key>
			<string>coloredFolderIconAlpha</string>
			<key>max</key>
			<real>1</real>
			<key>min</key>
			<real>0.0001</real>
			<key>showValue</key>
			<true/>
		</dict>
		<dict>
			<key>PostNotification</key>
			<string>com.i0stweak3r.foldercontroller-prefsreload</string>
			<key>alpha</key>
			<true/>
			<key>cell</key>
			<string>PSLinkCell</string>
			<key>cellClass</key>
			<string>CSColorDisplayCell</string>
			<key>defaults</key>
			<string>com.i0stweak3r.foldercontroller</string>
			<key>fallback</key>
			<string>000000</string>
			<key>key</key>
			<string>borderHex</string>
			<key>label</key>
			<string>Border color</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>footerText</key>
			<string></string>
			<key>label</key>
			<string>Border thickness:</string>
		</dict>
		<dict>
			<key>PostNotification</key>
			<string>com.i0stweak3r.foldercontroller-prefsreload</string>
			<key>cell</key>
			<string>PSSliderCell</string>
			<key>default</key>
			<real>0</real>
			<key>defaults</key>
			<string>com.i0stweak3r.foldercontroller</string>
			<key>key</key>
			<string>borderWidth</string>
			<key>max</key>
			<integer>8</integer>
			<key>min</key>
			<integer>0</integer>
			<key>showValue</key>
			<true/>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>footerText</key>
			<string>Almost all the settings update instantly except for changes to icons, and folder size changes. Apply changes will respring your device, and ensure all values are set as desired.</string>
		</dict>
		<dict>
			<key>action</key>
			<string>respring:</string>
			<key>alignment</key>
			<integer>2</integer>
			<key>cell</key>
			<string>PSButtonCell</string>
			<key>cellClass</key>
			<string>HBTintedTableCell</string>
			<key>label</key>
			<string>Apply changes</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>footerText</key>
			<string>Got bugs 🐜? Conflicting tweak(s)? 🤔 Visit Tech Support on the next page.  This is the best way to get help, since it emails your FolderControllerXIII settings, and a list of installed packages that could be interfering.</string>
			<key>label</key>
			<string>Credits and Support</string>
		</dict>
		<dict>
			<key>alignment</key>
			<integer>2</integer>
			<key>cell</key>
			<string>PSLinkCell</string>
			<key>detail</key>
			<string>FCXIIAboutListController</string>
			<key>isController</key>
			<true/>
			<key>cellClass</key>
			<string>HBTintedTableCell</string>
			<key>label</key>
			<string>ABOUT</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>footerText</key>
			<string></string>
		</dict>
		<dict>
			<key>alignment</key>
			<integer>2</integer>
			<key>cell</key>
			<string>PSTextCell</string>
			<key>label</key>
			<string>More improvements coming soon.</string>
		</dict>
	</array>
	<key>title</key>
	<string>Closed folders</string>
</dict>
</plist>
