<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>items</key>
	<array>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>A note about custom layouts</string>
			<key>footerText</key>
			<string>Often only one custom layout tweak may be used at a time.  This tweak, while designed to be compatible with others as much as possible, may conflict with other custom layout tweaks, or others may make this one not work.  If the tweak does not appear to be working, check for potential conflicts before assuming this tweak is broken.</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>CUSTOM FOLDER LAYOUTS</string>
			<key>footerText</key>
			<string>Set custom number of rows and columns in open folders. Affects all folders. Should update immediately, if not hit &quot;Apply changes&quot;.</string>
		</dict>
		<dict>
			<key>PostNotification</key>
			<string>com.i0stweak3r.foldercontroller-prefsreload</string>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>cellClass</key>
			<string>SRSwitchTableCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>com.i0stweak3r.foldercontroller</string>
			<key>key</key>
			<string>customLayout</string>
			<key>label</key>
			<string>Custom folder layouts</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>footerText</key>
			<string>Adjust slider to set custom max number of rows inside open folders.</string>
		</dict>
		<dict>
			<key>PostNotification</key>
			<string>com.i0stweak3r.foldercontroller-prefsreload</string>
			<key>cell</key>
			<string>PSSliderCell</string>
			<key>default</key>
			<integer>3</integer>
			<key>defaults</key>
			<string>com.i0stweak3r.foldercontroller</string>
			<key>isSegmented</key>
			<true/>
			<key>key</key>
			<string>customRows</string>
			<key>max</key>
			<integer>12</integer>
			<key>min</key>
			<integer>2</integer>
			<key>showValue</key>
			<true/>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>footerText</key>
			<string>Set custom number of columns inside folder.</string>
		</dict>
		<dict>
			<key>PostNotification</key>
			<string>com.i0stweak3r.foldercontroller-prefsreload</string>
			<key>cell</key>
			<string>PSSliderCell</string>
			<key>default</key>
			<integer>3</integer>
			<key>defaults</key>
			<string>com.i0stweak3r.foldercontroller</string>
			<key>isSegmented</key>
			<true/>
			<key>key</key>
			<string>customColumns</string>
			<key>max</key>
			<integer>12</integer>
			<key>min</key>
			<integer>2</integer>
			<key>showValue</key>
			<true/>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>FOLDER INSETS</string>
			<key>footerText</key>
			<string>Allows use of sliders to tweak insets of open folders. (Relative to the edges and between apps)</string>
		</dict>
		<dict>
			<key>PostNotification</key>
			<string>com.i0stweak3r.foldercontroller-prefsreload</string>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>cellClass</key>
			<string>SRSwitchTableCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>com.i0stweak3r.foldercontroller</string>
			<key>key</key>
			<string>wantsCustomInsets</string>
			<key>label</key>
			<string>Enable custom insets</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>NEW- SET EXACT INSET VALUES.</string>
			<key>footerText</key>
			<string>Adjusts top insets of folders in portrait orientation. It moves the icons down as the values increases.</string>
		</dict>
		<dict>
			<key>PostNotification</key>
			<string>com.i0stweak3r.foldercontroller-prefsreload</string>
			<key>cell</key>
			<string>PSSliderCell</string>
			<key>default</key>
			<real>0</real>
			<key>defaults</key>
			<string>com.i0stweak3r.foldercontroller</string>
			<key>isSegmented</key>
			<false/>
			<key>key</key>
			<string>topInset</string>
			<key>max</key>
			<real>450</real>
			<key>min</key>
			<real>1e-09</real>
			<key>showValue</key>
			<true/>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>footerText</key>
			<string>Adjusts right side folder inset in portrait orientation. Moves icons to the left as value increases, or towards the right as value decreases.</string>
		</dict>
		<dict>
			<key>PostNotification</key>
			<string>com.i0stweak3r.foldercontroller-prefsreload</string>
			<key>cell</key>
			<string>PSSliderCell</string>
			<key>default</key>
			<real>0</real>
			<key>defaults</key>
			<string>com.i0stweak3r.foldercontroller</string>
			<key>isSegmented</key>
			<false/>
			<key>key</key>
			<string>sideInset</string>
			<key>max</key>
			<real>350</real>
			<key>min</key>
			<real>1e-09</real>
			<key>showValue</key>
			<true/>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>footerText</key>
			<string>Adjusts left side inset of folders in portrait orientation . Moves icons to the right as the value increases.</string>
		</dict>
		<dict>
			<key>PostNotification</key>
			<string>com.i0stweak3r.foldercontroller-prefsreload</string>
			<key>cell</key>
			<string>PSSliderCell</string>
			<key>default</key>
			<real>0</real>
			<key>defaults</key>
			<string>com.i0stweak3r.foldercontroller</string>
			<key>isSegmented</key>
			<false/>
			<key>key</key>
			<string>leftSideInset</string>
			<key>max</key>
			<real>350</real>
			<key>min</key>
			<real>1e-09</real>
			<key>showValue</key>
			<true/>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>footerText</key>
			<string>Adjusts bottom folder insets in portrait orientation. Moves icons up as value increases.</string>
		</dict>
		<dict>
			<key>PostNotification</key>
			<string>com.i0stweak3r.foldercontroller-prefsreload</string>
			<key>cell</key>
			<string>PSSliderCell</string>
			<key>default</key>
			<real>0</real>
			<key>defaults</key>
			<string>com.i0stweak3r.foldercontroller</string>
			<key>isSegmented</key>
			<false/>
			<key>key</key>
			<string>bottomInset</string>
			<key>max</key>
			<real>450</real>
			<key>min</key>
			<real>1e-09</real>
			<key>showValue</key>
			<true/>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>LANDSCAPE FOLDER INSETS</string>
			<key>footerText</key>
			<string>Adjusts the top insets of folders in landscape orientation. Shifts icons down as the value increases.</string>
		</dict>
		<dict>
			<key>PostNotification</key>
			<string>com.i0stweak3r.foldercontroller-prefsreload</string>
			<key>cell</key>
			<string>PSSliderCell</string>
			<key>default</key>
			<real>12</real>
			<key>defaults</key>
			<string>com.i0stweak3r.foldercontroller</string>
			<key>isSegmented</key>
			<false/>
			<key>key</key>
			<string>topLandscapeInset</string>
			<key>max</key>
			<real>350</real>
			<key>min</key>
			<real>1e-09</real>
			<key>showValue</key>
			<true/>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>footerText</key>
			<string>Adjusts right side insets of folders in landscape orientation. Shifts the icons towards the left as value increases.</string>
		</dict>
		<dict>
			<key>PostNotification</key>
			<string>com.i0stweak3r.foldercontroller-prefsreload</string>
			<key>cell</key>
			<string>PSSliderCell</string>
			<key>default</key>
			<real>12</real>
			<key>defaults</key>
			<string>com.i0stweak3r.foldercontroller</string>
			<key>isSegmented</key>
			<false/>
			<key>key</key>
			<string>rightLandscapeInset</string>
			<key>max</key>
			<real>450</real>
			<key>min</key>
			<real>1e-09</real>
			<key>showValue</key>
			<true/>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>footerText</key>
			<string>Adjusts left side insets of folders in landscape orientation. Shifts icons towards the right as value increases.</string>
		</dict>
		<dict>
			<key>PostNotification</key>
			<string>com.i0stweak3r.foldercontroller-prefsreload</string>
			<key>cell</key>
			<string>PSSliderCell</string>
			<key>default</key>
			<real>12</real>
			<key>defaults</key>
			<string>com.i0stweak3r.foldercontroller</string>
			<key>isSegmented</key>
			<false/>
			<key>key</key>
			<string>leftLandscapeInset</string>
			<key>max</key>
			<real>450</real>
			<key>min</key>
			<real>1e-09</real>
			<key>showValue</key>
			<true/>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>footerText</key>
			<string>Adjusts bottom folder insets in landscape orientation. Shifts icons up as value increases.</string>
		</dict>
		<dict>
			<key>PostNotification</key>
			<string>com.i0stweak3r.foldercontroller-prefsreload</string>
			<key>cell</key>
			<string>PSSliderCell</string>
			<key>default</key>
			<real>8</real>
			<key>defaults</key>
			<string>com.i0stweak3r.foldercontroller</string>
			<key>isSegmented</key>
			<false/>
			<key>key</key>
			<string>bottomLandscapeInset</string>
			<key>max</key>
			<real>350</real>
			<key>min</key>
			<real>1e-09</real>
			<key>showValue</key>
			<true/>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>footerText</key>
			<string>Enable mini grid resizing so any layout will fit inside the folder icon, and custom layouts of the grid can be achieved.</string>
			<key>label</key>
			<string>Resize mini-grids</string>
		</dict>
		<dict>
			<key>PostNotification</key>
			<string>com.i0stweak3r.foldercontroller-prefsreload</string>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>cellClass</key>
			<string>SRSwitchTableCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>com.i0stweak3r.foldercontroller</string>
			<key>key</key>
			<string>resizeMiniGrids</string>
			<key>label</key>
			<string>Enable resized grids</string>
		</dict>
		<dict>
			<key>PostNotification</key>
			<string>com.i0stweak3r.foldercontroller-prefsreload</string>
			<key>cell</key>
			<string>PSSliderCell</string>
			<key>default</key>
			<real>1</real>
			<key>defaults</key>
			<string>com.i0stweak3r.foldercontroller</string>
			<key>key</key>
			<string>resizeFactor</string>
			<key>max</key>
			<real>2</real>
			<key>min</key>
			<real>-2</real>
			<key>showValue</key>
			<true/>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>CUSTOM DOCK LAYOUTS</string>
			<key>footerText</key>
			<string>Set custom number of max icons in Dock. Should update immediately, if not hit &quot;Apply changes&quot;.</string>
		</dict>
		<dict>
			<key>PostNotification</key>
			<string>com.i0stweak3r.foldercontroller-prefsreload</string>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>cellClass</key>
			<string>SRSwitchTableCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>com.i0stweak3r.foldercontroller</string>
			<key>key</key>
			<string>wantsCustomDock</string>
			<key>label</key>
			<string>Custom dock layout</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>footerText</key>
			<string>Set custom maximum number of icons in the dock.</string>
		</dict>
		<dict>
			<key>PostNotification</key>
			<string>com.i0stweak3r.foldercontroller-prefsreload</string>
			<key>cell</key>
			<string>PSSliderCell</string>
			<key>default</key>
			<real>4</real>
			<key>defaults</key>
			<string>com.i0stweak3r.foldercontroller</string>
			<key>isSegmented</key>
			<true/>
			<key>key</key>
			<string>customDockIcons</string>
			<key>max</key>
			<integer>15</integer>
			<key>min</key>
			<integer>1</integer>
			<key>showValue</key>
			<true/>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>CUSTOM HOMESCREEN</string>
			<key>footerText</key>
			<string>Set custom number of home screen columns in Portrait orientation.</string>
		</dict>
		<dict>
			<key>PostNotification</key>
			<string>com.i0stweak3r.foldercontroller-prefsreload</string>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>cellClass</key>
			<string>SRSwitchTableCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>com.i0stweak3r.foldercontroller</string>
			<key>key</key>
			<string>wantsCustomHomeScreen</string>
			<key>label</key>
			<string>Custom homescreen layout</string>
		</dict>
		<dict>
			<key>PostNotification</key>
			<string>com.i0stweak3r.foldercontroller-prefsreload</string>
			<key>cell</key>
			<string>PSSliderCell</string>
			<key>default</key>
			<real>4</real>
			<key>defaults</key>
			<string>com.i0stweak3r.foldercontroller</string>
			<key>isSegmented</key>
			<true/>
			<key>key</key>
			<string>customHomeScreenColumns</string>
			<key>max</key>
			<integer>10</integer>
			<key>min</key>
			<integer>2</integer>
			<key>showValue</key>
			<true/>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>footerText</key>
			<string>Set custom number of rows displayed on the home screen in Portrait orientation.</string>
		</dict>
		<dict>
			<key>PostNotification</key>
			<string>com.i0stweak3r.foldercontroller-prefsreload</string>
			<key>cell</key>
			<string>PSSliderCell</string>
			<key>default</key>
			<real>6</real>
			<key>defaults</key>
			<string>com.i0stweak3r.foldercontroller</string>
			<key>isSegmented</key>
			<true/>
			<key>key</key>
			<string>customHomeScreenRows</string>
			<key>max</key>
			<integer>10</integer>
			<key>min</key>
			<integer>2</integer>
			<key>showValue</key>
			<true/>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>HOMESCREEN EDGE INSETS</string>
			<key>footerText</key>
			<string>Allows use of sliders to tweak the insets of your homescreen icon layout. This allows you to place them far apart or close together in boxes.  Turn off for iOS default values to be used.</string>
		</dict>
		<dict>
			<key>PostNotification</key>
			<string>com.i0stweak3r.foldercontroller-prefsreload</string>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>cellClass</key>
			<string>SRSwitchTableCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>com.i0stweak3r.foldercontroller</string>
			<key>key</key>
			<string>wantsHomeScreenInsets</string>
			<key>label</key>
			<string>Enable homescreen insets</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>SET PORTRAIT INSET VALUES.</string>
			<key>footerText</key>
			<string>Adjusts top homescreen inset. This slider moves icons down the screen.</string>
		</dict>
		<dict>
			<key>PostNotification</key>
			<string>com.i0stweak3r.foldercontroller-prefsreload</string>
			<key>cell</key>
			<string>PSSliderCell</string>
			<key>default</key>
			<real>38</real>
			<key>defaults</key>
			<string>com.i0stweak3r.foldercontroller</string>
			<key>isSegmented</key>
			<false/>
			<key>key</key>
			<string>topHomeScreenInset</string>
			<key>max</key>
			<real>450</real>
			<key>min</key>
			<real>1e-09</real>
			<key>showValue</key>
			<true/>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>footerText</key>
			<string>Adjusts right side homescreen icon insets. These values shift the icons left.</string>
		</dict>
		<dict>
			<key>PostNotification</key>
			<string>com.i0stweak3r.foldercontroller-prefsreload</string>
			<key>cell</key>
			<string>PSSliderCell</string>
			<key>default</key>
			<real>30</real>
			<key>defaults</key>
			<string>com.i0stweak3r.foldercontroller</string>
			<key>isSegmented</key>
			<false/>
			<key>key</key>
			<string>rightHomeScreenInset</string>
			<key>max</key>
			<real>350</real>
			<key>min</key>
			<real>1e-09</real>
			<key>showValue</key>
			<true/>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>footerText</key>
			<string>Adjusts left side insets of your homescreen icon layout. This slider shifts your icons towards the right.</string>
		</dict>
		<dict>
			<key>PostNotification</key>
			<string>com.i0stweak3r.foldercontroller-prefsreload</string>
			<key>cell</key>
			<string>PSSliderCell</string>
			<key>default</key>
			<real>30</real>
			<key>defaults</key>
			<string>com.i0stweak3r.foldercontroller</string>
			<key>isSegmented</key>
			<false/>
			<key>key</key>
			<string>leftHomeScreenInset</string>
			<key>max</key>
			<real>350</real>
			<key>min</key>
			<real>1e-09</real>
			<key>showValue</key>
			<true/>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>footerText</key>
			<string>Adjust bottom homescreen inset, these values move the icons up from the bottom reducing the space in between rows.</string>
		</dict>
		<dict>
			<key>PostNotification</key>
			<string>com.i0stweak3r.foldercontroller-prefsreload</string>
			<key>cell</key>
			<string>PSSliderCell</string>
			<key>default</key>
			<real>26</real>
			<key>defaults</key>
			<string>com.i0stweak3r.foldercontroller</string>
			<key>isSegmented</key>
			<false/>
			<key>key</key>
			<string>bottomHomeScreenInset</string>
			<key>max</key>
			<real>450</real>
			<key>min</key>
			<real>1e-09</real>
			<key>showValue</key>
			<true/>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>SET LANDSCAPE INSET VALUES.</string>
			<key>footerText</key>
			<string>Adjusts top homescreen inset when device orientation is landscape. This slider moves icons down the screen.</string>
		</dict>
		<dict>
			<key>PostNotification</key>
			<string>com.i0stweak3r.foldercontroller-prefsreload</string>
			<key>cell</key>
			<string>PSSliderCell</string>
			<key>default</key>
			<real>38</real>
			<key>defaults</key>
			<string>com.i0stweak3r.foldercontroller</string>
			<key>isSegmented</key>
			<false/>
			<key>key</key>
			<string>topLandscapeHomeScreenInset</string>
			<key>max</key>
			<real>450</real>
			<key>min</key>
			<real>1e-09</real>
			<key>showValue</key>
			<true/>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>footerText</key>
			<string>Adjusts right side homescreen insets. These values shift the icons left when the device is in landscape orientation.</string>
		</dict>
		<dict>
			<key>PostNotification</key>
			<string>com.i0stweak3r.foldercontroller-prefsreload</string>
			<key>cell</key>
			<string>PSSliderCell</string>
			<key>default</key>
			<real>30</real>
			<key>defaults</key>
			<string>com.i0stweak3r.foldercontroller</string>
			<key>isSegmented</key>
			<false/>
			<key>key</key>
			<string>rightLandscapeHomeScreenInset</string>
			<key>max</key>
			<real>350</real>
			<key>min</key>
			<real>1e-09</real>
			<key>showValue</key>
			<true/>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>footerText</key>
			<string>Adjusts left side insets of your homescreen icon layout when in landscape mode. This slider shifts your icons towards the right.</string>
		</dict>
		<dict>
			<key>PostNotification</key>
			<string>com.i0stweak3r.foldercontroller-prefsreload</string>
			<key>cell</key>
			<string>PSSliderCell</string>
			<key>default</key>
			<real>30</real>
			<key>defaults</key>
			<string>com.i0stweak3r.foldercontroller</string>
			<key>isSegmented</key>
			<false/>
			<key>key</key>
			<string>leftLandscapeHomeScreenInset</string>
			<key>max</key>
			<real>350</real>
			<key>min</key>
			<real>1e-09</real>
			<key>showValue</key>
			<true/>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>footerText</key>
			<string>Adjust bottom homescreen inset in landscape mode, these values move the icons up from the bottom reducing the space in between rows.</string>
		</dict>
		<dict>
			<key>PostNotification</key>
			<string>com.i0stweak3r.foldercontroller-prefsreload</string>
			<key>cell</key>
			<string>PSSliderCell</string>
			<key>default</key>
			<real>26</real>
			<key>defaults</key>
			<string>com.i0stweak3r.foldercontroller</string>
			<key>isSegmented</key>
			<false/>
			<key>key</key>
			<string>bottomLandscapeHomeScreenInset</string>
			<key>max</key>
			<real>450</real>
			<key>min</key>
			<real>1e-09</real>
			<key>showValue</key>
			<true/>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>footerText</key>
			<string>Almost all the settings update instantly except for some changes to icons. It is a good idea to respring after changing layouts though so it sets with IconState.</string>
		</dict>
		<dict>
			<key>action</key>
			<string>respring:</string>
			<key>alignment</key>
			<integer>2</integer>
			<key>cell</key>
			<string>PSButtonCell</string>
			<key>cellClass</key>
			<string>HBTintedTableCell</string>
			<key>label</key>
			<string>Apply changes</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>footerText</key>
			<string>Got bugs 🐜? Conflicting tweak(s)? 🤔 Visit Tech Support on the next page.  This is the best way to get help, since it emails your FolderControllerXIII settings, and a list of installed packages that could be interfering.</string>
			<key>label</key>
			<string>Credits and Support</string>
		</dict>
		<dict>
			<key>alignment</key>
			<integer>2</integer>
			<key>cell</key>
			<string>PSLinkCell</string>
			<key>detail</key>
			<string>FCXIIAboutListController</string>
			<key>isController</key>
			<true/>
			<key>cellClass</key>
			<string>HBTintedTableCell</string>
			<key>label</key>
			<string>ABOUT</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>footerText</key>
			<string></string>
		</dict>
		<dict>
			<key>alignment</key>
			<integer>2</integer>
			<key>cell</key>
			<string>PSTextCell</string>
			<key>label</key>
			<string>More improvements coming soon.</string>
		</dict>
	</array>
	<key>title</key>
	<string>Custom Layouts</string>
</dict>
</plist>
