<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>items</key>
	<array>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>footerText</key>
			<string></string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>CUSTOM FOLDER TITLE SIZE</string>
			<key>footerText</key>
			<string>Enable to set a custom title size, change the alignment, and customize the background views of open folders.</string>
		</dict>
		<dict>
			<key>PostNotification</key>
			<string>com.i0stweak3r.foldercontroller-prefsreload</string>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>cellClass</key>
			<string>SRSwitchTableCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>com.i0stweak3r.foldercontroller</string>
			<key>key</key>
			<string>wantsFontSize</string>
			<key>label</key>
			<string>Customize folder titles</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>footerText</key>
			<string>Choose a segment cell to have open folder titles aligned to the left, the right, or centered (the default).</string>
			<key>label</key>
			<string>Custom title alignment</string>
		</dict>
		<dict>
			<key>PostNotification</key>
			<string>com.i0stweak3r.foldercontroller-prefsreload</string>
			<key>cell</key>
			<string>PSSegmentCell</string>
			<key>default</key>
			<integer>0</integer>
			<key>defaults</key>
			<string>com.i0stweak3r.foldercontroller</string>
			<key>key</key>
			<string>titleAlignment</string>
			<key>validTitles</key>
			<array>
				<string>Left side</string>
				<string>Centered</string>
				<string>Right side</string>
			</array>
			<key>validValues</key>
			<array>
				<integer>1</integer>
				<integer>0</integer>
				<integer>2</integer>
			</array>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>footerText</key>
			<string>Custom set the title font size of open folders. If the value is too big or small it may resize to a more appropriate size.</string>
		</dict>
		<dict>
			<key>PostNotification</key>
			<string>com.i0stweak3r.foldercontroller-prefsreload</string>
			<key>cell</key>
			<string>PSSliderCell</string>
			<key>default</key>
			<real>36</real>
			<key>defaults</key>
			<string>com.i0stweak3r.foldercontroller</string>
			<key>key</key>
			<string>fontSize</string>
			<key>max</key>
			<integer>64</integer>
			<key>min</key>
			<real>3</real>
			<key>showValue</key>
			<true/>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>FOLDER TITLE CORNER RADIUS</string>
			<key>footerText</key>
			<string>Custom set the title corner radius of open folders.</string>
		</dict>
		<dict>
			<key>PostNotification</key>
			<string>com.i0stweak3r.foldercontroller-prefsreload</string>
			<key>cell</key>
			<string>PSSliderCell</string>
			<key>default</key>
			<real>20</real>
			<key>defaults</key>
			<string>com.i0stweak3r.foldercontroller</string>
			<key>key</key>
			<string>titleCornerRadius</string>
			<key>max</key>
			<integer>40</integer>
			<key>min</key>
			<real>1e-05</real>
			<key>showValue</key>
			<true/>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>FOLDER TITLE BACKGROUND</string>
			<key>footerText</key>
			<string>Custom set the background and border colors for open folder titles. Both have working alpha for translucent colors.</string>
		</dict>
		<dict>
			<key>PostNotification</key>
			<string>com.i0stweak3r.foldercontroller-prefsreload</string>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>cellClass</key>
			<string>SRSwitchTableCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>com.i0stweak3r.foldercontroller</string>
			<key>key</key>
			<string>wantsTitleBackgroundColor</string>
			<key>label</key>
			<string>Enable background color</string>
		</dict>
		<dict>
			<key>PostNotification</key>
			<string>com.i0stweak3r.foldercontroller-prefsreload</string>
			<key>alpha</key>
			<true/>
			<key>cell</key>
			<string>PSLinkCell</string>
			<key>cellClass</key>
			<string>CSColorDisplayCell</string>
			<key>defaults</key>
			<string>com.i0stweak3r.foldercontroller</string>
			<key>fallback</key>
			<string>FF0000</string>
			<key>key</key>
			<string>titleBackgroundHex</string>
			<key>label</key>
			<string>Title background color:</string>
		</dict>
		<dict>
			<key>PostNotification</key>
			<string>com.i0stweak3r.foldercontroller-prefsreload</string>
			<key>alpha</key>
			<true/>
			<key>cell</key>
			<string>PSLinkCell</string>
			<key>cellClass</key>
			<string>CSColorDisplayCell</string>
			<key>defaults</key>
			<string>com.i0stweak3r.foldercontroller</string>
			<key>fallback</key>
			<string>000000</string>
			<key>key</key>
			<string>titleBorderHex</string>
			<key>label</key>
			<string>Title border color:</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>FOLDER TITLE COLOR</string>
			<key>footerText</key>
			<string>Custom set the title color for open folders.</string>
		</dict>
		<dict>
			<key>PostNotification</key>
			<string>com.i0stweak3r.foldercontroller-prefsreload</string>
			<key>alpha</key>
			<true/>
			<key>cell</key>
			<string>PSLinkCell</string>
			<key>cellClass</key>
			<string>CSColorDisplayCell</string>
			<key>defaults</key>
			<string>com.i0stweak3r.foldercontroller</string>
			<key>fallback</key>
			<string>FFFFFF</string>
			<key>key</key>
			<string>titleTextHex</string>
			<key>label</key>
			<string>Title color:</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>Border thickness:</string>
			<key>footerText</key>
			<string>Anything larger then zero enables the title background border.</string>
		</dict>
		<dict>
			<key>PostNotification</key>
			<string>com.i0stweak3r.foldercontroller-prefsreload</string>
			<key>cell</key>
			<string>PSSliderCell</string>
			<key>default</key>
			<real>0</real>
			<key>defaults</key>
			<string>com.i0stweak3r.foldercontroller</string>
			<key>key</key>
			<string>titleBorderWidth</string>
			<key>max</key>
			<integer>10</integer>
			<key>min</key>
			<integer>0</integer>
			<key>showValue</key>
			<true/>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>footerText</key>
			<string>Almost all the settings update instantly except for some changes to icons. It is a good idea to respring after changing layouts though so it sets with IconState.</string>
		</dict>
		<dict>
			<key>action</key>
			<string>respring:</string>
			<key>alignment</key>
			<integer>2</integer>
			<key>cell</key>
			<string>PSButtonCell</string>
			<key>cellClass</key>
			<string>HBTintedTableCell</string>
			<key>label</key>
			<string>Apply changes</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>footerText</key>
			<string>Got bugs 🐜? Conflicting tweak(s)? 🤔 Visit Tech Support on the next page.  This is the best way to get help, since it emails your FolderControllerXIII settings, and a list of installed packages that could be interfering.</string>
			<key>label</key>
			<string>Credits and Support</string>
		</dict>
		<dict>
			<key>alignment</key>
			<integer>2</integer>
			<key>cell</key>
			<string>PSLinkCell</string>
			<key>detail</key>
			<string>FCXIIAboutListController</string>
			<key>isController</key>
			<true/>
			<key>cellClass</key>
			<string>HBTintedTableCell</string>
			<key>label</key>
			<string>ABOUT</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>footerText</key>
			<string></string>
		</dict>
		<dict>
			<key>alignment</key>
			<integer>2</integer>
			<key>cell</key>
			<string>PSTextCell</string>
			<key>label</key>
			<string>More improvements coming soon.</string>
		</dict>
	</array>
	<key>title</key>
	<string>Title Options</string>
</dict>
</plist>
